/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Merriweather Sans', sans-serif;  */
*,
*::before,
*::after {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}
html {
  max-width: 1600px;
  font-size: clamp(12px, calc(0.8rem + 0.3vw), 20px);
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  background-image: linear-gradient(45deg, #181818, #525252);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  --mainbackground: #252d4a;
  --menubackground: #181818;
  --pfont: #ffffff;
  --mainfont: #dcffe2;
  --bigfont: #ff0b56;
  --secfont: #ccd6f6;
  --border: #64ffda;
  --csrdheader: #7DDF8D;
}

body {
  
  min-height: 100vh;
  padding-left: 13rem;
  background-image: linear-gradient(45deg, #181818, #1d1d1d);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}
.hamblabel {
  display: none;
  background-color: var(--csrdheader);
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 0.25rem;
  z-index: 5;
  cursor: pointer;
  
}
.hamblabel::before, .hamblabel::after {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--csrdheader);
  width: 2rem;
  height: 0.25rem;
  
}
.hamblabel::after {
  top: 0.5rem;

}
.hamblabel::before{
  top: -0.5rem;
}


.main-menu {
  width: 13rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.toplogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: var(--mainfont) solid 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: width 1s, height 1s;

}

.logo img:hover {
  width: 200px;
  height: 200px;
}
.main-menu span {
  color: var(--pfont);
  padding: 1rem;
}

#menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#menu-nav ul {
  width: 100%;
  text-align: center;
}
.menuelement {
  list-style: none;
  display: list-item;
  width: 100%;
  border-top: 1px solid rgb(114, 114, 114);
  line-height: 3rem;
}
.menuelement:hover a {
  color: var(--border);
}
.menuelement a {
  text-decoration: none;
  width: 100%;
  color: var(--secfont);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social img {
  width: 1.5rem;
  height: auto;
  color: var(--border);
}

/*Main elements*/
.mainwrap {
  padding-top: 0rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.card {
  margin: 2rem;
  height: auto;
  max-width: 100%;
  line-height: 1.7rem;
  word-wrap: break-word;
  border-radius: 8px;
  background: var(--mainfont);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: var(--mainfont) solid 1px;
  border-left: var(--mainfont) solid 1px;
  border-radius: 8px;
  box-shadow: black 3px 3px;
}
.topsite {
  overflow: hidden;
  width: auto;
  max-height: 10rem;
}
.topsite > img {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.textcontener {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.card h2 {
  margin: 1.5rem 0;
  font-size: clamp(12px, calc(1.5rem + 0.7vw), 30px);
}
.card p {
  margin: 0 0 3rem 0;
  font-size: clamp(12px, calc(1rem + 0.5vw), 20px);
}

#MySkills{
  color: var(--menubackground);
}

#skillcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

}
.iconcontainer {
  border: #7DDF8D solid 2px;
  min-width: 10rem;
  margin: 2rem;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.iconcontainer p {
  background-color: var(--csrdheader);
  padding: 1rem;
}
.iconcontainer img {
  margin: 2rem 0;
}

#Inkscape img, #gimp img, #joomla img, #AdobePhotoshop img{
  width: auto;
  max-height: 48px;
}

.workscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.workscontainer:first-child a {
  text-decoration: none;
}

.workscontainer img {
  width: 95%;
  height: auto;
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.workscontainer img:hover {
  -webkit-box-shadow: 5px 5px 10px 5px #000000;
  box-shadow: 5px 5px 10px 5px #000000;
}
.contactformul {
  text-align: center;
}

input, textarea {
  line-height: 1.7rem;
  overflow: auto;
  resize: none;
  outline: none;
  border: 2px solid var(--csrdheader) ;
  border-radius: 4px;
}

.contactformul li {
  list-style: none;
  margin: 6px 0;
}

#fname, #email{
  width: 40%;
  margin: 0;
  padding: 0 7px;
}
#subject {
  width: 80%;
  padding: 0 7px;

}
#message  {
  min-width: 80%;
  max-width: 80%;
  padding: 0 7px;

}
#message {
  height: 10rem;
}



button {
  background-color: var(--csrdheader);
  padding: 0.2rem 1rem;
  border-radius: 4px;
}

.datum p {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(9px, calc(0.2rem + 0.5vw), 20px);
  margin: 0;
  padding: 0;
  color: rgb(153, 153, 153);
}

@media screen and (max-width: 1024px) {
  .hamblabel {
    display: block;
  }

  .main-menu {
    height: fit-content;
    width: 100%;
    position: fixed;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease-in-out;
    transform: scale(0%);
    transform-origin: top right;


  }
  input[type='checkbox']:checked + .main-menu {
    transition: transform 0.5s ease-in-out;
    transform: scale(100%);
    transform-origin: top right;
   }
  body {
    padding: 0;
  }
  .mainwrap {
    padding-top: 3rem; 
    margin: 0;
  }
  .card {
    max-width: 100%;
  }
.workscontainer {
  flex-wrap: wrap;
}
.iconcontainer {
  width: 100%;
}


}